body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1372px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:601px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:20px;
  width:893px;
  height:601px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:893px;
  height:304px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:731px;
  width:893px;
  height:304px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:632px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:631px;
  width:692px;
  height:90px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:0px;
  width:173px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:0px;
  width:173px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:0px;
  width:173px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:173px;
  height:30px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:30px;
  width:173px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:30px;
  width:173px;
  height:30px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:30px;
  width:173px;
  height:30px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:173px;
  height:30px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:60px;
  width:173px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:60px;
  width:173px;
  height:30px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:60px;
  width:173px;
  height:30px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:169px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:100px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:960px;
  top:613px;
  width:412px;
  height:100px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:20px;
  width:397px;
  word-wrap:break-word;
}
